<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Usuarios</h1>
    <a href="/admin/users/new">Create user</a>

    <table>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <form action="/admin/users/<%= user.id %>/role" method="post">
              <td>
                <select name="role" id="role">
                <% if (user.role === "admin") { %>
                  <option value="user">user</option>
                  <option value="admin" selected>admin</option>
                <% } else { %>
                  <option value="user" selected>user</option>
                  <option value="admin">admin</option>
                <% } %>
                </select>
              </td>
              <input type="hidden" name="id" value="<%= user.id %>">
              <td><button type="submit">Edit</button></td>
            </form>
          
            <% if (user.role !== 'admin') { %>
              <form action="/admin/users/<%= user.id %>/delete" method="post">
                <td>
                  <input type="hidden" name="id" value="<%= user.id %>">
                  <button type="submit">Delete</button>
                </td>
              </form>
            <% } %>
            
            
            
          </tr>
        <% }) %>
    </table>
     
   
  </body>
</html>
